<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323367078435-ig09rrlfjvga7ni4mv9uag7jhre9evid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323367078435-ig09rrlfjvga7ni4mv9uag7jhre9evid</string>
	<key>API_KEY</key>
	<string>AIzaSyAfUfwmRurgCdpCyH5U5SvESJxosxeE-CA</string>
	<key>GCM_SENDER_ID</key>
	<string>323367078435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yxinghang.regular-Keyboard</string>
	<key>PROJECT_ID</key>
	<string>fluent-78f34</string>
	<key>STORAGE_BUCKET</key>
	<string>fluent-78f34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323367078435:ios:be6678bc6a0b6764af3f96</string>
	<key>DATABASE_URL</key>
	<string>https://fluent-78f34.firebaseio.com</string>
</dict>
</plist>